---
layout: base.html
og_type: article
---
{%- set structured_data = {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": title,
    "description": description or excerpt,
    "image": "https://thompson2026.com" + (og_image or '/resources/Nicholas%20Thompson-250.webp'),
    "author": {
        "@type": "Person",
        "name": author or "Nicholas A. Thompson"
    },
    "publisher": {
        "@type": "Organization",
        "name": "Nicholas A. Thompson 2026",
        "logo": {
            "@type": "ImageObject",
            "url": "https://thompson2026.com/resources/favicon-192.png"
        }
    },
    "datePublished": page.date | date('Y-m-d'),
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://thompson2026.com" + page.url
    }
} | dump | safe -%}

<article class="blog-post">
    <div class="container">
        <div class="back-to-blogs-top-container">
            <a href="/blog" class="back-to-blogs back-to-blogs-top">← Back to Blogs</a>
        </div>
        {%- if og_image %}
        <img src="{{ og_image }}" alt="{{ og_image_alt or 'Header image for ' + title }}" class="blog-header-image" loading="lazy">
        {%- endif %}
        <header class="post-header">
            <h1>{{ title }}</h1>
            <div class="post-meta">
                <time datetime="{{ page.date | date('Y-m-d') }}">{{ page.date | date('F d, Y') }}</time>
                {%- if author %}<span class="author">by {{ author }}</span>{% endif %}
            </div>
            {%- if tags %}
            <div class="tags">
                {%- for tag in tags %}
                    <span class="tag">{{ tag }}</span>
                {%- endfor %}
            </div>
            {%- endif %}
        </header>
        
        <div class="post-content">
            {{ content | safe }}
        </div>
        
        <footer class="post-footer">
            <div class="post-navigation">
                <a href="/blog" class="back-to-blogs">← Back to Blog</a>
            </div>
            
            <div class="post-share">
                <p>Share this post:</p>
                <div class="share-buttons">
                    <a href="https://x.com/intent/tweet?text={{ title | urlencode }}&url=https://thompson2026.com{{ page.url }}" target="_blank" class="share-twitter">
                        <i class="fab fa-x-twitter"></i> X (Twitter)
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://thompson2026.com{{ page.url }}" target="_blank" class="share-facebook">
                        <i class="fab fa-facebook"></i> Facebook
                    </a>
                </div>
            </div>
        </footer>
    </div>
</article>