/* General Styles */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111133;
    color: #CCCCBB;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color-scheme: dark;
    scrollbar-color: #444455 #222244;
    /* transition: all 0.3s ease; */
}

/* Container */
.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Header */
header {
    background-color: #222244;
    color: #CCCCBB;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 4px 8px #00000033;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    border-bottom: 2px solid #FED00022;
}

header.sticky {
    background-color: #111133;
    box-shadow: 0 4px 8px #00000033;
    padding: 5px 0;
    transition: padding 0.3s ease, background-color 0.3s ease;
}

header h1, header h2 {
    transition: font-size 0.3s ease;
}

header.sticky h1 {
    font-size: 1.5em;
}

header.sticky h2 {
    font-size: 1em;
}

header h1 {
    margin: 0;
    font-size: 2em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header h2 {
    margin: 5px 0 0;
    font-size: 1.2em;
    font-weight: 300;
    color: #999988;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #CCCCBB;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 15px;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background: #FED00022;
    color: #FED000;
}

nav ul li a.active {
    background-color: #FED000;
    color: #111133;
}

nav ul li a:focus, 
nav ul li a:active {
    outline: none;
    color: inherit;
    background: inherit;     
}

/** Dropdown Menu **/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #222244;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 1000;
    transform: translateY(15px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}   

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(5px);
}

.dropdown-content a {
    color: #CCCCBB;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
    background: #FED00022;
    color: #FED000;
}

.dropdown-content a.active {
    background-color: #FED000;
    color: #111133;
}

.dropdown-content a.active:hover {
    background-color: #FED000;
    color: #111133;
}


/* Platform Link with Dropdown Icon */
.dropbtn {
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 15px;
    border-radius: 5px;
    color: #CCCCBB;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
}

.dropbtn:hover {
    background: #FED00022;
    color: #FED000;
}

.dropdown-icon {
    font-size: 0.75em;
    margin-left: 5px;
    color: #CCCCBB;
}

.dropbtn:hover .dropdown-icon {
    color: #FED000;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
    color: #CCCCBB;
    position: absolute;
    top: 10px;
    right: 10px;
}

.hamburger.active i {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

nav ul.active {
    display: block;
    position: absolute;
    top: 50px;
    right: 10px;
    background: #222244;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #00000033;
}

nav ul.active li {
    display: block;
    margin-bottom: 10px;
}

/* Sections */
.section {
    background-color: #111133;
    color: #CCCCBB;
   /* transition: all 0.3s ease; */
}

.section:first-of-type {
    padding-top: 120px; /* Top padding to accommodate the fixed header */
}

.section h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    color: #CCCCBB;
    transition: color 0.3s ease;
}

.section h3::after {
    content: '';
    display: inline-block;
    width: 0;
}

.section h3::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #FED000;
    display: block;
    margin: 20px auto 0;
    border-radius: 2px;
}

.section p {
    font-size: 1.2em;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 20px;
}

/** Learn more arrow icons **/
.section h3 i {
    margin-left: 10px;
    font-size: 0.8em;
    color: #FED000;
    transition: transform 0.3s ease;
}

.section a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
}

.section a:hover h3 i {
    transform: translateX(5px);
}

.section a:hover h3 {
    color: #FED000 !important;
}

/* Dark Sections */
.dark-section {
    background-color: #222244;
    color: #CCCCBB;
}

.dark-section h3::after {
    background-color: #999988;
}

/* About Section */
.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
    margin-top: 20px;
}

.about-text {
    flex: 1;
    max-width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-text p {
    margin-bottom: 20px;
    line-height: 1.8;
    text-align: justify;
}

.portrait-container {
    flex: 0 0 auto;
    max-width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.portrait {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px #00000033;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portrait:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px #00000055;
}

/* Issues Section */
.issues-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.issue-card {
    background: #222244;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px #00000022;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #CCCCBB;
}

.issue-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px #00000033;
}

.issue-card i {
    font-size: 3em;
    margin-bottom: 10px;
    color: #FED000cc;
}

/* Vision Content Styles */
.vision-content {
    background: #222244;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px #00000022;
    color: #CCCCBB;
    font-size: 1.2em;
    line-height: 1.8em;
    transition: all 0.3s ease;
}

/* Vision Section */
.section#vision p {
    margin-bottom: 50px;
}

.vision-content p {
    margin-bottom: 20px;
}

/* Footer */
footer {
    background: #222244;
    color: #CCCCBB;
    text-align: center;
    padding: 40px 0;
    margin-top: 20px;
    font-size: 0.9em;
    box-shadow: 0 -4px 8px #00000033;
}

footer a {
    color: #CCCCBB;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #999988;
}

.social-media {
    margin-bottom: 20px;
}

.social-icon {
    color: #CCCCBB;
    font-size: 2em;
    margin: 0 15px;
    padding: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-media .fab {
    padding: 15px;
}

.social-icon:hover {
    transform: scale(1.2);
    color: #FED000;
}

/* Sticky Header */
.sticky {
    background-color: #111133;
    box-shadow: 0 4px 8px #00000033;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .section {
        padding: 120px 0;
    }

    header h1 {
        font-size: 1.8em;
    }

    header h2 {
        font-size: 1em;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .portrait-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about-text {
        text-align: center;
        padding-left: 0;
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
    }

    .section {
        padding: 80px 0;
    }

    .section h3 {
        font-size: 1.5em;
    }

    .section p {
        font-size: 1em;
        margin-bottom: 15px;
    }

    .portrait {
        max-width: 200px;
    }

    .issues-grid {
        grid-template-columns: 1fr;
    }

    .social-icon {
        font-size: 2em;
        padding: 20px;
    }
    
    .social-media-icons {
        gap: 40px;
    }

    header {
        font-size: 75% !important;
    }
}

/* Dark Mode for Google Form */
iframe {
    filter: invert(1) hue-rotate(180deg);
    transition: all 0.3s ease;
}

.contact-form-container {
    margin-top: 40px;
    background-color: #222244;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #00000022;
}

#contact p {
    font-size: 1.2em;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 30px;
    color: #CCCCBB;
}

/* Sitemap Styles */
.sitemap-content {
    padding: 100px 0;
    background-color: #111133;
    color: #CCCCBB;
    text-align: center;
}

.sitemap-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sitemap-list li {
    margin: 20px 0;
    font-size: 1.5em;
}

.sitemap-list li a {
    color: #999988;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sitemap-list li a:hover {
    color: #CCCCBB;
    text-decoration: underline;
}

/* Social Media Section */
#social-media {
    text-align: center;
    padding: 50px 0;
}

#social-media h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #CCCCBB;
}

#social-media p {
    font-size: 1.2em;
    color: #999988;
    margin-bottom: 30px;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media-icons .social-icon, .social-media .fab {
    color: #CCCCBB;
    font-size: 2em;
    padding: 15px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-media-icons .social-icon:hover, .social-media .fab:hover {
    transform: scale(1.2);
    color: #999988;
}

/* About Section for Experience Speech */
.speech-text {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

#new-leadership h3 {
    margin-bottom: 20px;
    text-align: center;
}

#new-leadership .section {
    padding: 40px 0;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #111122;
    color: #c8c3bc;
    text-align: center;
    box-shadow: 0 -4px 8px #00000033;
    z-index: 1001;
    transition: transform 0.3s ease;
}

.sticky-footer.hidden {
    transform: translateY(100%);
}

.sticky-footer a {
    color: #96918a;
    text-decoration: none;
    font-weight: bold;
}

/* Declaration of War */
#declaration p {
    font-size: 1.2em;
    line-height: 1.8;
    text-align: justify;
    max-width: 900px;
    margin: 20px auto;
}

#declaration ol {
    font-size: 1.2em;
    text-align: left;
    margin: 20px auto;
    max-width: 900px;
    list-style: decimal;
    padding-left: 1.5em;
}

#declaration ol li {
    margin-bottom: 15px;
}

#declaration strong {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 20px;
    color: #FED000;
}