/* Variables */
:root {
    --primary-color: #113;
    --primary-alpha: #113E;
    --secondary-color: #224;
    --tertiary-color: #002;
    --accent-color: #FED000;
    --accent-alpha: #FED00022;
    --text-color: #CCB;
    --highlight-color: #998;
    --shadow-color: #0003;
}

/* =====================================
   General Styles
   ===================================== */

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color-scheme: dark;
    /* transition: all 0.3s ease; */
}

/* Background images */
#vision {
    background: 
        linear-gradient(to bottom, var(--primary-alpha), var(--primary-color) 100%), /* Darker gradient overlay */
        url("https://images.pexels.com/photos/11838861/pexels-photo-11838861.jpeg?auto=compress&cs=tinysrgb") no-repeat center top;
    background-size: cover;
}

#index_page #about {
    background: 
        linear-gradient(to bottom, var(--primary-alpha), var(--primary-color) 100%), /* Darker gradient overlay */
        url("https://i.ibb.co/J2SxWmr/IMG-20230812-194722914-PORTRAIT.jpg") no-repeat center center;
    background-size: cover;
}

#about_page #about {
    background: 
        linear-gradient(to bottom, var(--primary-alpha), var(--primary-color) 50%), /* Darker gradient overlay */
        url("https://i.ibb.co/J2SxWmr/IMG-20230812-194722914-PORTRAIT.jpg") no-repeat center top;
    background-size: contain;
}

/* =====================================
   Container
   ===================================== */

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}

/* =====================================
   Header
   ===================================== */

   header {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px 0;
    box-shadow: 0 4px 8px var(--shadow-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    border-bottom: 2px solid var(--accent-alpha);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.sticky {
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    padding: 5px 0;
    transition: padding 0.3s ease, background-color 0.3s ease;
}

.branding {
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0;
    font-size: 2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
}

header h2 {
    margin: 5px 0 0;
    font-size: 1.2em;
    font-weight: 300;
    color: var(--highlight-color);
    text-align: left;
}

header.sticky h1 {
    font-size: 1.5em;
}

header.sticky h2 {
    font-size: 1em;
}

/* =====================================
   Navigation Styles
   ===================================== */

/* General Navigation Styles */
nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 15px;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background: var(--accent-alpha);
    color: var(--accent-color);
}

nav ul li a.active {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

nav ul li a:focus,
nav ul li a:active {
    outline: none;
    color: inherit;
    background: inherit;
}

/* Dropdown Menu Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: var(--secondary-color);
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 1000;
    transform: translateY(15px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(5px);
}

.dropdown-content a {
    color: var(--text-color);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
    background: var(--accent-alpha);
    color: var(--accent-color);
}

.dropdown-content a.active {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.dropdown-content a.active:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

/* Platform Link with Dropdown Icon */
.dropbtn {
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 15px;
    border-radius: 5px;
    color: var(--text-color);
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
}

.dropbtn:hover {
    background: var(--accent-alpha);
    color: var(--accent-color);
}

.dropdown-icon {
    font-size: 0.75em;
    margin-left: 5px;
    color: var(--text-color);
}

.dropbtn:hover .dropdown-icon {
    color: var(--accent-color);
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
    color: var(--text-color);
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001;
}

.hamburger.active i {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

/* =====================================
   Sections
   ===================================== */

/* General Section Styles */
.section {
    background-color: var(--primary-color);
    color: var(--text-color);
    /* transition: all 0.3s ease; */
}

.section:first-of-type {
    padding-top: 120px; /* Top padding to accommodate the fixed header */
}

.section h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.section h3::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    margin: 20px auto 0;
    border-radius: 2px;
}

.section p {
    font-size: 1.2em;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 20px;
}

/* Learn More Arrow Icons */
.section h3 i {
    margin-left: 10px;
    font-size: 0.8em;
    color: var(--accent-color);
    transition: transform 0.3s ease;
}

.section a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
}

.section a:hover h3 i {
    transform: translateX(5px);
}

.section a:hover h3 {
    color: var(--accent-color) !important;
}

/* Dark Sections */
.dark-section {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.dark-section h3::after {
    background-color: var(--highlight-color);
}

/* =====================================
   About Section
   ===================================== */

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
    margin-top: 20px;
}

.about-text {
    flex: 1;
    max-width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-text p {
    margin-bottom: 20px;
    line-height: 1.8;
    text-align: justify;
}

.portrait-container {
    flex: 0 0 auto;
    max-width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.portrait {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portrait:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px var(--shadow-color);
}

/* =====================================
   Issues Section
   ===================================== */

.issues-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.issue-card {
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px var(--shadow-color);;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--text-color);
}

.issue-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px var(--shadow-color);
}

.issue-card i {
    font-size: 3em;
    margin-bottom: 10px;
    color: var(--accent-color);
}

/* =====================================
   Vision Section
   ===================================== */

/* Vision Content Styles */
.vision-content {
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px var(--shadow-color);;
    color: var(--text-color);
    font-size: 1.2em;
    line-height: 1.8em;
    transition: all 0.3s ease;
}

.section#vision p {
    margin-bottom: 50px;
}

.vision-content p {
    margin-bottom: 20px;
}

/* =====================================
   Footer
   ===================================== */

footer {
    background: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 40px 0;
    margin-top: 20px;
    font-size: 0.9em;
    box-shadow: 0 -4px 8px var(--shadow-color);
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--highlight-color);
}

.social-media {
    margin-bottom: 20px;
}

.social-icon {
    color: var(--text-color);
    font-size: 2em;
    margin: 0 15px;
    padding: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-media .fab {
    padding: 15px;
}

.social-icon:hover {
    transform: scale(1.2);
    color: var(--accent-color);
}

/* =====================================
   Sticky Header
   ===================================== */

.sticky {
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px var(--shadow-color);
}

/* =====================================
   Smooth Scrolling
   ===================================== */

html {
    scroll-behavior: smooth;
}

/* =====================================
   Mobile Styles (768px and Below)
   ===================================== */
   @media (max-width: 768px) {
        /* Responsive Navigation */
        .header-content {
            flex-direction: column;
            align-items: center;
        }
    
        .branding {
            align-items: center;
            text-align: center;
        }
    
        nav ul li {
            margin-right: 0;
            margin-bottom: 10px;
        }

    /* Adjust the main navigation pop-out */
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0px; /* Add some spacing from the right edge */
        background: var(--secondary-color);
        padding: 0px;
        border-radius: 10px;
        box-shadow: 0 4px 8px var(--shadow-color);
        width: calc(100% - 80px); /* Narrower width for smaller screens */
        max-width: 200px; /* Set a maximum width */
    }

    /* Show nav links when hamburger is active */
    nav ul.active {
        display: flex;
    }

    /* Show hamburger icon on mobile */
    .hamburger {
        display: block;
    }

    /* Adjust dropdown content in mobile view */
    .dropdown-content {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        text-align: right;
    }

    .dropdown-content a {
        padding: 1px;
        padding-right: 10px; /* Extra right padding for spacing from edge */
        color: var(--text-color);
        text-decoration: none;
        display: block;
        text-align: right;
    }

    /* Adjust each link's styling */
    nav ul.active li {
        display: block;
        margin-bottom: 10px;
        text-align: right;
    }

    .section {
        padding: 120px 0;
    }

    header h1 {
        font-size: 1.8em;
    }

    header h2 {
        font-size: 1em;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .portrait-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about-text {
        text-align: center;
        padding-left: 0;
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
    }

    .section {
        padding: 80px 0;
    }

    .section h3 {
        font-size: 1.5em;
    }

    .section p {
        font-size: 1em;
        margin-bottom: 15px;
    }

    .portrait {
        max-width: 200px;
    }

    .issues-grid {
        grid-template-columns: 1fr;
    }

    .social-icon {
        font-size: 2em;
        padding: 20px;
    }

    .social-media-icons {
        gap: 40px;
    }

    header {
        font-size: 75% !important;
    }
}

/* =====================================
   Dark Mode for Embedded Content
   ===================================== */

/* Dark Mode for Google Form */
iframe {
    filter: invert(1) hue-rotate(180deg);
    transition: all 0.3s ease;
}

.contact-form-container {
    margin-top: 40px;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);;
}

#contact p {
    font-size: 1.2em;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 30px;
    color: var(--text-color);
}

/* =====================================
   Sitemap Styles
   ===================================== */

.sitemap-content {
    padding: 100px 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
}

.sitemap-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sitemap-list li {
    margin: 20px 0;
    font-size: 1.5em;
}

.sitemap-list li a {
    color: var(--highlight-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.sitemap-list li a:hover {
    color: var(--text-color);
    text-decoration: underline;
}

/* =====================================
   Social Media Section
   ===================================== */

#social-media {
    text-align: center;
    padding: 50px 0;
}

#social-media h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--text-color);
}

#social-media p {
    font-size: 1.2em;
    color: var(--highlight-color);
    margin-bottom: 30px;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media-icons .social-icon,
.social-media .fab {
    color: var(--text-color);
    font-size: 2em;
    padding: 15px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-media-icons .social-icon:hover,
.social-media .fab:hover {
    transform: scale(1.2);
    color: var(--highlight-color);
}

/* =====================================
   Sticky Footer
   ===================================== */

.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    text-align: center;
    box-shadow: 0 -4px 8px var(--shadow-color);
    z-index: 1001;
    transition: transform 0.3s ease;
}

.sticky-footer.hidden {
    transform: translateY(100%);
}

.sticky-footer a {
    text-decoration: none;
    font-weight: bold;
}

/* =====================================
   Additional Sections
   ===================================== */

/* About Section for Experience Speech */
.speech-text {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

#new-leadership h3 {
    margin-bottom: 20px;
    text-align: center;
}

#new-leadership .section {
    padding: 40px 0;
}

/* Declaration Section */
#declaration p {
    font-size: 1.2em;
    line-height: 1.8;
    text-align: justify;
    max-width: 900px;
    margin: 20px auto;
}

#declaration ol {
    font-size: 1.2em;
    text-align: left;
    margin: 20px auto;
    max-width: 900px;
    list-style: decimal;
    padding-left: 1.5em;
}

#declaration ol li {
    margin-bottom: 15px;
}

#declaration strong {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 20px;
    color: var(--accent-color);
}