/* pages/_home.css */
/* Homepage Specific Styles */

/* Background Images for Home Page */
#index_page #about {
    background:
        linear-gradient(to bottom, var(--primary-alpha), var(--primary-color) 100%),
        url("https://images.pexels.com/photos/11838861/pexels-photo-11838861.jpeg?auto=compress&cs=tinysrgb") no-repeat center top;
    background-size: cover;
}

/* About Section on Home Page */
.portrait {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portrait:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px var(--shadow-color);
}

/* Chained California */
.declaration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: visible;
    width: 100%;
    box-sizing: border-box;
}

#particleCanvas {
    /* Removed border and box-shadow */
    border: none;
    box-shadow: none;

    /* Set background to transparent */
    background-color: transparent;

    /* Set visible size */
    width: 300px;
    height: 300px;

    /* Positioning */
    position: relative;
}

@media (max-width: 768px) {
    .declaration-container {
        flex-direction: column;
    }

    #particleCanvas {
        width: 300px;
        height: 300px;
    }
}

.section .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}