/* base/_reset.css */
/* CSS Reset/Normalize */

/* Include padding and border in width/height */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Override to make body visible after content is loaded, font normalize */
body {
    display: block !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Remove highlight box on tap */
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    outline: none;
}