---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for page in collections.all %}
    {% if page.url and page.data.eleventyExcludeFromCollections != true and page.url != '/base/' and page.url != '/header/' %}
    {% set pagePriority = '0.8' %}
    {% set pageChangefreq = 'monthly' %}
    {% if page.url == '/' %}
        {% set pagePriority = '1.0' %}
        {% set pageChangefreq = 'weekly' %}
    {% elif page.url == '/sign/' or page.url == '/issues/' or page.url == '/blog/' %}
        {% set pagePriority = '0.9' %}
        {% set pageChangefreq = 'weekly' %}
    {% elif '/blog/' in page.url %}
        {% set pagePriority = '0.8' %}
        {% set pageChangefreq = 'monthly' %}
    {% endif %}
    <url>
        <loc>https://thompson2026.com{{ page.url | url }}</loc>
        {% if page.date %}
        <lastmod>{{ page.date | htmlDateString }}</lastmod>
        {% endif %}
        <changefreq>{% if page.data.changefreq %}{{ page.data.changefreq }}{% else %}{{ pageChangefreq }}{% endif %}</changefreq>
        <priority>{% if page.data.priority %}{{ page.data.priority }}{% else %}{{ pagePriority }}{% endif %}</priority>
    </url>
    {% endif %}
    {% endfor %}
</urlset>
